<!DOCTYPE html>
<html ng-app="BankOfWestApp">
<head>
	<meta charset="utf-8">
	<title>Angular Assignment</title>
</head>
<body>

	<div ng-controller="BOWController as bow">
		<label for="isAmerica">{{bow.quesText}}</label>
		
		<div ng-repeat="ans in ansQues">
			<span>{{ans.nextQuestionTxt}}</span>
			<div ng-repeat="opts in ans.possibleAnswers">
				<input type="radio" name=""  value="{{opts}}">{{opts}}
			</div>
		</div>
		
		<input type="radio" name="" ng-click="bow.nextQuestion()" ng-repeat="ans in bow.answers" ng-model="{{nextQuestionId}}" value="{{ans}}"> {{ans}}
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
	
	<script>
	var bowApp = angular.module("BankOfWestApp", ['ngResource']);
	bowApp.controller("BOWController", [ "Question", "QuestionMockUp", "$scope", function(Question, QuestionMockUp,$scope){
		var bow = this;	
			Question.get({quesId:'Root', ansId:''}).then(function(response){
				console.log(response);
				$scope.ansQues = response;
			if(!response.nextQuestionId){
				QuestionMockUp.get(function(mockRes){
					bow.answers = mockRes.possibleAnswers;
					bow.quesText = mockRes.nextQuestionTxt; 				
					bow.quesId = mockRes.nextQuestionId;
				})	
			}

			bow.answers = response.possibleAnswers;
			bow.quesText = response.nextQuestionTxt;
			bow.quesId = response.nextQuestionId;
				console.log(bow.answers);
			
		});

	}]);

	bowApp.factory("QuestionMockUp", function (){
		var self = this;

		self.get = function(params){
			if(params.quesId === "Root" && params.ansId === ""){
			return {
				nextQuestionId:"liveInUSIsYes",
				nextQuestionTxt:"Do You live in USA",
				possibleAnswers:[ "Yes","No"]
			}
		}else if(params.quesId === "LiveInUSYes" && params.ansId === "Yes"){
			return {
				nextQuestionId:"State",
				possibleAnswers:[ "California","Nevada","Alaska"],
				nextQuestionTxt:"Which State Do You live in USA"

			}
		}else if(params.quesId === "State" && params.ansId === "CA"){
			return {
				nextQuestionId:"City",
				possibleAnswers:[ "San Jose","San Francisco","Sacramento"],
				nextQuestionTxt:"Which City Do You live in CA"

			}
		}
		}
		
		return self;

	});

	function Question($resource,$q){
		var self = this;

		self.get = function(req){
			var deferred = $q.defer();

			$resource('requestObject.json').query().$promise.then(function(resolve){
				deferred.resolve(resolve);
			});

			return deferred.promise;
		};
		

		return self.resource;
	}

	Question.$inject = ['$resource','$q'];
	bowApp.service("Question" , Question);
	</script>
</body>
</html>