.signal{
	border: 2px solid brown;
	background-color: rgba(0,0,0,0.8);
	position: relative;
	width: 170px;
  	height: 300px;
	border-radius:15px;
	margin: 0 5px;
	color: white;
}
.red{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 35px;
}
.red1{
	
	
  background: red;
  background-image: radial-gradient(brown, transparent);
  background-size: 5px 5px; 
  border: dotted 2px red;
	
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px red;
}

.green{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  left: 35px;
}
.green1{

  background: green;
  background-image: radial-gradient(lime, transparent);
  background-size: 5px 5px;
	border: dotted 2px lime;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px lime;
}
.clr{
	clear: both;
}
@keyframes red{
  0%{opacity: 1}
  20%{opacity: 1}
  40%{opacity: 1}
  60%{opacity: .1}
  80%{opacity: .1}
  100%{opacity: .1}
}

@keyframes green{
0%{opacity: .1}
  20%{opacity: .1}
  40%{opacity: .1}
  60%{opacity: 1}
  96%{opacity: .1}
  100%{opacity: .1}
}
