
	<ul class="buddyList">
		<li ng-repeat="bud in buddyDetails">
			<div class="buddyContainer" data="{{bud.status}}" ng-if="bud.status != 'dlt'">
				<b>UserName</b>  : <span ng-bind="bud.username"></span><br>
				<b>FirstName</b> : <span ng-bind="bud.fname"></span><br>
				<b>LastName</b>  : <span ng-bind="bud.lname"></span><br>
				<b>Status</b>    : <span ng-bind="bud.status"></span><br>
				<b>ID</b>    : <span ng-bind="bud.id"></span><br>
				<a href="#/buddy/{{bud.id}}" class="btn btn-default fLeft">View More</a>
				<button type="button" data="{{bud.id}}" class="btn btn-default fRight" ng-click="deleteBuddyForm(bud.id)">Delete</button>
				<div class="clr"></div>
			</div>
		</li>
	</ul>