<h3>Complete Details</h3>
	<ul class="buddyList">
		<li>
			<div class="buddyContainer">
				<b>UserName</b>  : <span ng-bind="buddy.username"></span><br>
				<b>FirstName</b> : <span ng-bind="buddy.fname"></span><br>
				<b>LastName</b>  : <span ng-bind="buddy.lname"></span><br>
				<b>Status</b>    : <span ng-bind="buddy.status"></span><br>
				<b>DOB</b>    : <span ng-bind="buddy.dob"></span><br>
				<b>EmailID</b>    : <span ng-bind="buddy.email"></span><br>
				<b>Address</b>    : <span ng-bind="buddy.address"></span><br>
				<a href="#/buddy/List">Back To The List</a>
			</div>
		</li>
	</ul>
