.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}
.signUp{
	padding: 0 20%;
}
.jumbotron{
	text-align: center;
}
.buddyList{
	list-style: none;
}
.buddyContainer{
	padding: 2%;
	margin: 3%;
	border: 1px solid #D3D3D3;
}