<!DOCTYPE html>
<html ng-app="tradeApp" ng-cloak>
	<head>
		<title>Traders</title>
		<script src="../vendor/angular.min.js"></script>
		<script src="../vendor/angular-resournce.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>
		<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js"></script>
   		<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  		<style>
			.groupColumns{
				padding: 5px;
			}
			.spaceLeft{
				margin-left: 5px;
			}
			table{
				border-collapse: separate;
    			border-spacing: 10px;
			}
		</style>
	</head>
	<body ng-controller="tradeCtrl">
		<button type="button" class="btn btn-primary" ng-click="calc()">Calculate P/L</button>
		<table>
			<tr ng-repeat="(key,value) in dataInJson | groupBy:'Symbol'">
				<td valign="top" class="groupColumns">
				{{key}}
				</td>
				<td>
					
					<table>
						<tr ng-repeat="(k,v) in value | groupBy:'Action'">
							<td valign="top" class="groupColumns">
							{{k}}
							</td>
							<td>
								<table>
									<tr>
										<th>TxnId</th>
										<th>Quantity</th>
										<th>Price</th>
										<th>MarketValue</th>
										<th ng-if="ifPL">P/L</th>
									</tr>
									<tr  ng-repeat="opt in v | orderBy:'TxnId'">
										<td>
										{{opt.TxnId}}
										</td>
										<td>	{{opt.Quantity}}
										</td>
										<td>	{{opt.Price}}
										</td>
										<td>	{{opt.MarketValue}}
										</td>
										<td>	{{opt.PL}}
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<script src="app.js"></script>
	</body>
</html>